* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #0f172a;
}

.hidden { display: none; }

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#googleLogin {
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

#app {
  height: 100vh;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #020617;
  color: white;
}

/* HEADER */
header {
  padding: 12px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
}

/* CHAT */
#chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  max-width: 75%;
  margin-bottom: 8px;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 14px;
}

.me {
  background: #2563eb;
  margin-left: auto;
}

.other {
  background: #334155;
}

/* INPUT */
.inputBar {
  display: flex;
  padding: 8px;
  gap: 6px;
  position: sticky;
  bottom: 0;
  background: #020617;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}
