* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: white;
  width: 320px;
  padding: 16px;
  border-radius: 12px;
}



#chat {
  height: 220px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px;
  overflow-y: auto;
}


.message {
  background: #0084ff;
  color: white;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}



button {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  background: #0084ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.me {
  background: #0084ff;
  color: white;
  margin-left: auto;
  text-align: right;
}