* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: white;
  width: 320px;
  padding: 15px;
  border-radius: 10px;
}


#chat {
  height: 220px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px;
  overflow-y: auto;
}


.message {
  background: #0084ff;
  color: white;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}


button {
  width: 100%;
  padding: 6px;
  background: #0084ff;
  color: white;
  border: none;
  cursor: pointer;
}
